.homeSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  background: var(--inputs);
  padding: 24px;
  width: 664px;
  height: 80vh;
  text-align: center;
}

.homeText {
  letter-spacing: 0.06em;
  margin-bottom: 16px;
}

.homeTitle {
  font-size: 80px;
  line-height: 95%;
  letter-spacing: -0.01em;
  margin-bottom: 32px;
}

.homeLink {
  border-radius: 200px;
  padding: 16px 40px;
  background: var(--button);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: var(--background);
}

.homeLink:hover,
.homeLink:focus {
  background: #d84343;
}
