.favoritesContainer {
  padding: 40px;
  max-width: 1392px;
  margin: 0 auto;
}

.favoritesTitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 125%;
  margin-bottom: 24px;
}

.favoritesList{
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 888px;
}

.notFoundText{
  color: var(--description);
}