.advantagesContainer {
  width: 664px;
  height: 80vh;
  border-radius: 30px;
  background-image: url(../../images/camper.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.advantagesList {
  position: absolute;
  bottom: 32px;
  left: 16px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.advantagesItem {
  padding: 9px 12px;
  display: flex;
  align-items: center;
  border-radius: 30px;
  background-color: var(--button);
  color: var(--background);
  font-weight: 600;
  line-height: 125%;
}

.ellipse {
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background-color: var(--background);
  margin-right: 3px;
}
