.featuresContainer {
  display: flex;
  gap: 24px;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  gap: 44px;
  width: 430px;
}

.detailsList {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.detailsItem {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 100px;
  padding: 12px 18px;
  background: var(--block-features);
  font-weight: 500;
  line-height: 125%;
  text-align: center;
}

.infoTitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(16, 24, 40, 0.1);
  margin-bottom: 24px;
}

.infoList {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.infoItem {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
}

